body {
  margin: 0;
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-image: url("./1567937037.jpg");
  background-repeat: no-repeat;
  z-index: 40;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.parent {
  width: 100%;
  position: fixed;
  display: flex;
  justify-content: center;
  background-color: #28a745;
  transition: bottom 0.4s ease-in-out;
}

.toastAlertContainer {
  display: flex;
  align-items: center;
  padding: 10px;
}

.toastAlertText {
  margin-right: 10px;
}
