body {
  background-color: #3d405b;
  color: #fff;
  height: 100vh;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.parent {
  width: 100%;
  position: fixed;
  display: flex;
  justify-content: center;
  background-color: #28a745;
  transition: bottom 0.4s ease-in-out;
}

.toastAlertContainer {
  display: flex;
  align-items: center;
  padding: 10px;
}

.toastAlertText {
  margin-right: 10px;
}
a.toastAlert






















































aaaadwe
nnnnnnnnnnnnn






































































bhbbbbbbb















































dd



























































































































































::-webkit-outer-spin-button;