body {
  background-color: #343a40;
  color: #fff;
}

.mainContainer {
  margin-top: 30px;
}

.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.videoContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.img {
  width: 200px;
  margin-bottom: 5px;
}

.dropdownContainer {
  text-align: right;
  max-width: 500px;
  margin: auto;
}

.dropdown {
  margin-left: auto;
  margin-bottom: 50px;
}
