body {
  background-color: #3d405b;
}

.container {
  margin-top: 100px;
  margin-left: 200px;
}

.tabMenus {
  position: relative;
}

ul {
}

li {
  list-style: none;
  display: inline-block;
  color: #ffffff;
  cursor: pointer;
  background-color: #da4353;
  padding: 10px 20px;
  user-select: none;
}

.slider {
  height: 5px;
  background-color: #46cfb0;
  transition: all 0.4s ease-in-out;
}
