body {
  background-color: #3d405b;
}

.container {
  margin-top: 100px;
  margin-left: 200px;
}

.tabMenus {
  position: relative;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
  display: inline-block;
  color: #ffffff;
  cursor: pointer;
  background-color: #da4353;
  padding: 10px 20px;
  user-select: none;
}

.slider {
  height: 5px;
  background-color: #46cfb0;
  transition: all 0.4s ease-in-out;
}

.menuContainer {
  width: 100vw;
  height: 755px;
  overflow: hidden;

  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

.menu {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

.backgroundImage {
  width: 100%;
  height: auto;
  border-radius: 60px;
}
